<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contactinfo</title>
  <style>
    body {
      background-color: #e8f0f8;
    }
  </style>
  <link rel="stylesheet" th:href="@{/css/styling.css}" href="../public/css/styling.css">
</head>

<body>
<h2>Kontaktoplysninger</h2>

<div><p th:text="${message}"></p></div>

<img src="../public/images/fog_logo.png" class="images" th:src="@{/images/fog_logo.png}"/>

<div class="container">
  <div class="form-container">

<form method="post" action="payment.html">
  <label for="fullname">Navn*</label><br/>
  <input type="text" id="fullname" name="fullname" placeholder="Fornavn og efternavn" /><br/><br/>

  <label for="adress">Adresse*</label><br/>
  <input type="text" id="adress" name="adress" placeholder="Adresse (vej + nummer)" /><br/><br/>

  <label for="zipcode">Postnummer*</label><br/>
  <input type="text" id="zipcode" name="zipcode" placeholder="Postnummer" /><br/><br/>

  <label for="city">By*</label><br/>
  <input type="text" id="city" name="city" placeholder="Bynavn" /><br/><br/>

  <label for="phonenumber">Telefon*</label><br/>
  <input type="text" id="phonenumber" name="phonenumber" placeholder="Telefon nummer" /><br/><br/>

  <label for="email">Email*</label><br/>
  <input type="text" id="email" name="email" placeholder="Din email adresse"/><br/><br/>

  <div>
    <button class="btn" type="submit">Bestil tilbud</button>

  </div>
  </div>
</div>

  </form>
</body>
</html>