<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order</title>
    <link rel="stylesheet" th:href="@{/css/styling.css}" href="../public/css/styling.css">
</head>
<body>
<img src="../public/images/fog_logo.png" class="images" th:src="@{/images/fog_logo.png}"/>


<h3>Tillykke med din nye carport!</h3>
<table>
    <thead>
    <tr>
        <th>Beskrivelse</th>
        <th>Længde</th>
        <th>Antal</th>
        <th>Enhed</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <!-- Her kan du indsætte dine data fra sessionen -->
    <tr>
        <td>Spær</td>
        <td><span th:text="${session.selectedLength}"></span> cm</td>
        <td><span th:text="${session.rafterWoodQuantity}"></span></td>
        <td>stk.</td>
        <td>Beskrivelse af spær</td>
    </tr>
    <tr>
        <td>Stolper</td>
        <td><span th:text="${session.selectedLength}"></span> cm</td>
        <td><span th:text="${session.postQuantity}"></span></td>
        <td>stk.</td>
        <td>Beskrivelse af stolper</td>
    </tr>
    <tr>
        <td>Rem</td>
        <td><span th:text="${session.selectedLength}"></span> cm</td>
        <td><span th:text="${session.strapQuantity}"></span></td>
        <td>stk.</td>
        <td>Beskrivelse af rem</td>
    </tr>
    </tbody>
</table>

</body>
</html>