<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order</title>
    <link rel="stylesheet" th:href="@{/css/styling.css}" href="../public/css/styling.css">
</head>
<body>
<img src="../public/images/fog_logo.png" class="images" th:src="@{/images/fog_logo.png}"/>


<h3>Tillykke med din nye carport!</h3>
<div class="container">
    <div class="form-container">
        <span th:text="${orderNumber}"></span>
        <table>
            <thead>
            <tr>
                <th>Produkt Navn</th>
                <th>Antal</th>
                <th>Beskrivelse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderline : ${orderLines}">
                <td th:text="${orderline.name}"></td>
                <td th:text="${orderline.quantity}"></td>
                <td th:text="${orderline.description}"> kr. </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<button class="btn" type="button" onclick="history.back()">Tilbage</button>
</body>
</html>