<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderconfirmation</title>
    <link rel="stylesheet" th:href="@{/css/styling.css}" href="../public/css/styling.css">
    <style>
        body {
            background-color: #e8f0f8;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="form-container">
        <img src="../public/images/fog_logo.png" class="images" th:src="@{/images/fog_logo.png}"/>
<h2>Tak for din bestilling!</h2>
<h3>Vi godkender din bestilling hurtigst muligt</h3>
        <div>
        <button class="btn" type="button" onclick="window.location.href='/index.html'">Til forsiden</button>
            <br/>
            <div th:if="${session.currentUser != null}">
                <form method="post" action="/mypage.html">
                    <button class= "btn" type="submit">Min side</button>
                </form>
            </div>
        </div>
        </div>
</div>
</body>
</html>