<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order</title>
    <link rel="stylesheet" th:href="@{../public/css/styling.css}" href="../public/css/styling.css">
</head>
<link rel="stylesheet" th:href="@{/css/styling.css}" href="../public/css/styling.css">
<body>
<img src="../public/images/fog_logo.png" class="images" th:src="@{/images/fog_logo.png}"/>

<h1>Tak for din bestilling!</h1>

<form method="post" action="order.html">
<h3>Her er en skitse af din nye carport</h3>
<svg viewBox="0 0 900 750" preserveAspectRatio="xMinYMin">
    <defs>
        <marker id="a" markerWidth="12" markerHeight="12" refX="0" refY="6" orient="auto">
            <path d="M0,6 L12,0 L12,12 L0,6" fill="#000"/>
        </marker>
        <marker id="b" markerWidth="12" markerHeight="12" refX="12" refY="6" orient="auto">
            <path d="M0,0 L12,6 L0,12 L0,0 " fill="#000"/>
        </marker>
    </defs>
    <line x1="50" y1="630" x2="50" y2="0" style="stroke:#000; marker-start:url(#a); marker-end:url(#b)"/>
    <line x1="50" y1="640" x2="850" y2="640" style="stroke:#000; marker-start:url(#a); marker-end:url(#b)"/>
    <svg x="90" y="20" width="820" height="610" viewBox="0 0 780 600">
        <rect x="0" y="0" width="780" height="600" fill="none" stroke="#000" stroke-width="1"/>
        <rect x="5" y="30" width="770" height="5" fill="none" stroke="#000" stroke-width="1"/>
        <rect x="775" y="0" width="5" height="600" fill="none" stroke="#000" stroke-width="1"/>
        <rect x="0" y="0" width="5" height="600" fill="none" stroke="#000" stroke-width="1"/>
        <rect x="5" y="570" width="770" height="5" fill="none" stroke="#000" stroke-width="1"/>
        <rect x="75" y="25" width="15" height="15" fill="#fff" stroke="#000" stroke-width="1"/>
        <rect x="350" y="25" width="15" height="15" fill="#fff" stroke="#000" stroke-width="1"/>
        <rect x="740" y="25" width="15" height="15" fill="#fff" stroke="#000" stroke-width="1"/>
        <rect x="75" y="565" width="15" height="15" fill="#fff" stroke="#000" stroke-width="1"/>
        <rect x="350" y="565" width="15" height="15" fill="#fff" stroke="#000" stroke-width="1"/>
        <rect x="740" y="565" width="15" height="15" fill="#fff" stroke="#000" stroke-width="1"/>
        <line x1="25" y1="30" x2="550" y2="575" stroke="#000" stroke-width="2" stroke-dasharray="5,5"/>
        <line x1="550" y1="30" x2="25" y2="575" stroke="#000" stroke-width="2" stroke-dasharray="5,5"/>
    </svg>
    <text x="30" y="300" transform="rotate(-90 30 300)" style="text-anchor:middle">600 cm</text>
    <text x="450" y="670" style="text-anchor:middle">780 cm</text>
</svg>
    <div>
        <button class="btn" onclick="window.history.back()">Tilbage</button>
        <button class="btn" type="submit">Køb</button>
    </div>
</form>

</body>
</html>