<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order</title>
    <link rel="stylesheet" th:href="@{../public/css/styling.css}" href="../public/css/styling.css">
</head>
<link rel="stylesheet" th:href="@{/css/styling.css}" href="../public/css/styling.css">
<body>
<img src="../public/images/fog_logo.png" class="images" th:src="@{/images/fog_logo.png}"/>

<h1>Tak for din bestilling!</h1>

<form method="post" action="order.html">
<h3>Her er en skitse af din nye carport</h3>

    <div class="carport-svg-topview" >
        <div th:utext="${svg}"></div>
    </div>


    <p>Din pris for din drømme carport: <div th:text="${totalPrice}"></div></p>


    <div>
        <button class="btn" type="button" onclick="history.back()">Tilbage</button>
        <button class="btn" type="submit">Køb</button>
    </div>
</form>

</body>
</html>