<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rooftype</title>
    <link rel="rooftype" th:href="@{css/rooftype.css}" href="../public/public/css/rooftype.css">
</head>
<body>

<form id="rooftype" method="get" action="/rooftype">
    <p>Vælg dit favorit tag til din carport:</p>
    <input type="radio" id="flatroof" name="roofs" value="flatroof">
    <label for="flatroof">Carport med fladt tag</label><br>
    <input type="radio" id="highroof" name="roofs" value="highroof">
    <label for="highroof">Carport med høj rejsning</label><br>

    <button type="submit">Vælg</button>
</form>




</body>
</html>