<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>specielcarportflatroof</title>
</head>
<body>

<h2>Bestil Quick-Byg tilbud - carport med fladt tag</h2>

<p>Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en skitsetegning på en carport indenfor vores standardprogram.
    Tilbud og skitsetegning fremsendes med post hurtigst muligt.
    Ved bestilling medfølger standardbyggevejledning.

    Udfyld formularen omhyggeligt og klik på "Bestil tilbud".
    Felter markeret med * SKAL udfyldes!</p>

<h2>Carport med fladt tag</h2>

<p>Udfyld nedenstående omhyggeligt og tryk "Bestil tilbud".
    Så vender vi hurtigst muligt tilbage med et tilbud til dig.</p>

<label for="carportwide">Carportens bredde*</label>
<select name="carportwide" id="carportwide">
    <option value="240">240 cm</option>
    <option value="270">270 cm</option>
    <option value="300">300 cm</option>
</select>


<label for="carportlength">Carportens længde*</label>
<select name="carportlength" id="carportlength">
    <option value="240">240 cm</option>
    <option value="270">270 cm</option>
    <option value="300">300 cm</option>
</select>

<label for="carportroof">Carport trapeztag*</label>
<select name="carportroof" id="carportroof">
    <option value="withoutrooftiles">Uden tagplader</option>
    <option value="plastictrapezoidplates">Plasttrapezplader</option>
</select>


<label for="comments">Evt. bemærkning / særlige ønsker</label><br>
<textarea id="comments" name="comments" rows="4" cols="50"></textarea><br><br>
<input type="submit" value="Bestil tilbud">




</body>
</html>